<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <h3>liste produit</h3>
    <a href="/product/add">Ajout</a>
    <table class="w3-table-all">
        <tr class="w3-light-grey w3-hover-red">
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {{range .products}}
        <tr class="w3-hover-green">
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Price}}</td>
            <td>{{.Quantity}}</td>
            <td>{{.Description}}</td>
            <td>
                <a href="/product/edit?id={{.Id}}">Edit</a> | 
                <a href="/product/delete?id={{.Id}}" onclick="return confirm('vous êtes sûr')">Delete</a> 
            </td>
        </tr>
        {{ end }}
    </table>
</body>
</html>